
/* À¥ ÆùÆ® */
@import url(http://fonts.googleapis.com/earlyaccess/kopubbatang.css");
@import url(http://fonts.googleapis.com/earlyaccess/jejugothic.css");
@import url(http://fonts.googleapis.com/earlyaccess/jejumyeongjo.css");
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css");
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothiccoding.css");

html, body { 
    height:100%; 
	font-family: 'Jeju Myeongjo', serif;
}

h1, h2, h3, h4, h5, h6 { 
	font-family: 'KoPub Batang', serif;
}

/* body */
.body-swr {
    background-color: #FFFFFF;
}

/* navbar */
.container {
	margin: 0px auto;
	height : 100%;
    width: 970px;
    max-width: none !important;
}

/* navbar */
.navbar-primary .navbar { background:#9f58b5; border-bottom:none; }
.navbar-primary .navbar .nav > li > a {color: #501762;}
.navbar-primary .navbar .nav > li > a:hover {color: #fff; background-color: #8e49a3;}
.navbar-primary .navbar .nav .active > a,.navbar .nav .active > a:hover {color: #fff; background-color: #501762;}
.navbar-primary .navbar .nav li > a .caret, .tnav .navbar .nav li > a:hover .caret {border-top-color: #fff;border-bottom-color: #fff;}
.navbar-primary .navbar .nav > li.dropdown.open.active > a:hover {}
.navbar-primary .navbar .nav > li.dropdown.open > a {color: #fff;background-color: #9f58b5;border-color: #fff;}
.navbar-primary .navbar .nav > li.dropdown.open.active > a:hover .caret, .tnav .navbar .nav > li.dropdown.open > a .caret {border-top-color: #fff;}
.navbar-primary .navbar .navbar-brand {color:#fff;}
.navbar-primary .navbar .nav.pull-right {margin-left: 10px; margin-right: 0;}
.navbar-xs .navbar-primary .navbar { min-height:28px; height: 28px; }
.navbar-xs .navbar-primary .navbar .navbar-brand{ padding: 0px 12px;font-size: 16px;line-height: 28px; }
.navbar-xs .navbar-primary .navbar .navbar-nav > li > a {  padding-top: 0px; padding-bottom: 0px; line-height: 28px; }
.navbar-sm .navbar-primary .navbar { min-height:40px; height: 40px; }
.navbar-sm .navbar-primary .navbar .navbar-brand{ padding: 0px 12px;font-size: 16px;line-height: 40px; }
.navbar-sm .navbar-primary .navbar .navbar-nav > li > a {  padding-top: 0px; padding-bottom: 0px; line-height: 40px; }

.navbar-primary {
	font-family: 'Jeju Gothic', sans-serif;
}

/* CodeMirror */
.CodeMirror {
  border: 1px solid #eee;
}

