<section >
<div class="row">
    <div class="col-xs-6">
	
	    <H1> 기록 최종 정보 요약 </H1>
		
		<form model="closerec">
		<center> 
			<div class="input-group input-group-sm">
			    <span class="input-group-addon" style="width:50px;" id="rec_name">기록명</span>
			    <input type="text" class="form-control" size="36" placeholder="기록 이름" ng-model="closerec.doc_name" required>
			</div>
			<br>
				<button type="submit" class="btn btn-primary" ng-click="close(closerec)"><i class="fa fa-sign-in"></i> <b>작업 종료</b></button>
		</center> 		
		</form> 
		
    </div>	
</div>	
</section>

