<section >

    <div class="col-xs-11">
	
	    <!--H1> 기록 최종 정보 요약 및 정리</H1-->
		
		<form model="record">
			<div class="input-group input-group-sm">
			    <span class="input-group-addon" style="width:50px;" id="rec_name">기록명</span>
			    <input type="text" class="form-control" size="48" placeholder="기록 이름" ng-model="record.name" required>
			</div>
			<br>
			    <button type="button" class="btn btn-warning" ng-click="convert(record)"><i class="fa fa-random"></i> <b>변환</b></button> 
				<button type="submit" class="btn btn-primary" ng-click="close(record)"><i class="fa fa-sign-in"></i> <b>작업 종료</b></button>
		</form> 
		<br>
		<div ui-grid="gridOptions" class="logLowGrid"
			ui-grid-selection 
			ui-grid-resize-columns 
			ui-grid-move-columns 
			ui-grid-save-state>
		</div>
		
    </div>	

</section>

