<!DOCTYPE html>
<!-- html ng-app="mainApp"-->
<html>
<head>
    <meta charset="utf-8"> 
	<title> SSH command Web Replayer</title>
	
	<!-- 컴포넌트 스타일시트 -->
	<link rel="stylesheet" type="text/css" href="/lib/bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/lib/components-font-awesome/css/font-awesome.min.css">
	<!--link rel="stylesheet" type="text/css" href="/lib/angular-ui-grid/ui-grid.min.css"-->
	<!--link rel="stylesheet" type="text/css" href="/lib/ng-table/dist/ng-table.min.css"-->
	
    <!--link rel="stylesheet" type="text/css" href="/lib/jstree/dist/themes/default/style.min.css"-->
	<!--link rel="stylesheet" type="text/css" href="/lib/codemirror/lib/codemirror.css"-->
	
	<!-- 자체 스타일시트 -->
	<link rel="stylesheet" type="text/css" href="/css/style.css">

</head>

<body class="body-swr" >

<div class="navbar-xs">
   <div class="navbar-primary">
        <!--nav class="navbar  navbar-fixed-top" role="navigation" ng-controller="navbarCtrl" -->
        <nav class="navbar  navbar-fixed-top" role="navigation" ng-controller="navbarCtrl" >
          <div class="container navbar-primary">
        	
        	<a class="navbar-brand" href="/#/main"><i class="fa fa-random"></i> <b>SWR</b></a>
        	<button type="button" class="btn btn-info navbar-btn btn-sm btn-nav" ng-click="List()">
			    <i class="fa fa-list"></i><b> 목록</b></button>
        	<button type="button" class="btn btn-info navbar-btn btn-sm btn-nav" ng-click="New()">
			    <i class="fa fa-list"></i><b> 새로 작성</b></button>
        	<button type="button" class="btn btn-warning navbar-btn btn-sm" ng-click="Test()">시험</button>
        	<!-- a class="" ng-if="!currentUser" ng-href="#/login">로그인</a-->
        	<button type="button" class="btn btn-default navbar-btn navbar-right" ng-if="currentUser" ng-click="logout()">로그아웃 {{currentUser.firstName}}</a></li>
        	
            <!--div class="" id="bs-example-navbar-collapse-1">
                <button type="button" class="btn btn-warning navbar-btn" ng-click="Test()">시험</button>
                <ul class="nav navbar-nav navbar-right">
                  <li ng-if="!currentUser"><a ng-href="#/login">로그인</a></li>
                  <li ng-if="!currentUser"><a ng-href="#/signup">회원가입</a></li>
                  <li ng-if="currentUser"><a href="" ng-click="logout()">로그아웃 {{currentUser.firstName}}</a></li>
                </ul>
            </div-->
        	
          </div>
        </nav>
	</div>
</div>	
<br>
<br>
<div class="container" >      
    <div style="margin-top: 20px;"  ui-view></div>
</div>

<!-- 변환 중   



<script src="/lib/angular-ui-grid/ui-grid.min.js"></script>


<script src="/lib/api-check/dist/api-check.min.js"></script>
<script src="/lib/angular-formly/dist/formly.min.js"></script>
<script src="/lib/angular-formly-templates-bootstrap/dist/angular-formly-templates-bootstrap.min.js"></script>





<script src="/lib/codemirror/lib/codemirror.js"></script>
<script src="/lib/codemirror/addon/selection/active-line.js"></script>
-->

<!--script src="/share.js"></script-->


<!-- 변환 중   
<script src="/lib/share-codemirror/share-codemirror.js"></script>


<script src="/js/app.js"></script>

<script src="/js/runner.js"></script>

<script src="/js/controller/navbar.js"></script>
<script src="/js/controller/rec_list.js"></script>
<script src="/js/controller/rec_edit.js"></script>
<script src="/js/controller/rec_run.js"></script>
<script src="/js/controller/rec_new.js"></script>
<script src="/js/controller/rec_work.js"></script>
<script src="/js/controller/rec_close.js"></script>

<script src="/js/controller/nologin.js"></script>
<script src="/js/controller/main.js"></script>
<script src="/js/controller/signup.js"></script>
<script src="/js/controller/login.js"></script>
-->
	
	<script data-main="js/main" src="/lib/requirejs/require.js"></script>
</body>
</html>
