<!DOCTYPE html>
<html ng-app="mainApp">
<head>
    <meta charset="utf-8"> 
	<title> SSH command Web Replayer</title>
	
	<!-- 컴포넌트 스타일시트 -->
	<link rel="stylesheet" type="text/css" href="/lib/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/lib/jstree/dist/themes/default/style.min.css">
	<link rel="stylesheet" type="text/css" href="/lib/components-font-awesome/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="/lib/codemirror/lib/codemirror.css">
	
	<!-- 자체 스타일시트 -->
	<link rel="stylesheet" type="text/css" href="/css/style.css">

</head>

<body class="body-swr" >

<div class="navbar-xs">
   <div class="navbar-primary">
        <nav class="navbar  navbar-fixed-top" role="navigation" ng-controller="navbarCtrl" >
          <div class="container navbar-primary">
        	
        	<a class="navbar-brand" href="/#/main"><i class="fa fa-random"></i> <b>SWR</b></a>
        	<button type="button" class="btn btn-warning navbar-btn btn-sm" ng-click="Test()">시험</button>
        	<!-- a class="" ng-if="!currentUser" ng-href="#/login">로그인</a-->
        	<button type="button" class="btn btn-default navbar-btn navbar-right" ng-if="currentUser" ng-click="logout()">로그아웃 {{currentUser.firstName}}</a></li>
        	
            <!--div class="" id="bs-example-navbar-collapse-1">
                <button type="button" class="btn btn-warning navbar-btn" ng-click="Test()">시험</button>
                <ul class="nav navbar-nav navbar-right">
                  <li ng-if="!currentUser"><a ng-href="#/login">로그인</a></li>
                  <li ng-if="!currentUser"><a ng-href="#/signup">회원가입</a></li>
                  <li ng-if="currentUser"><a href="" ng-click="logout()">로그아웃 {{currentUser.firstName}}</a></li>
                </ul>
            </div-->
        	
          </div>
        </nav>
	</div>
</div>	
<br>
<br>
<div class="container" >      
    <div style="margin-top: 20px;"  ui-view></div>
</div>
  
<script src="/lib/jquery/dist/jquery.min.js"></script>
<script src="/lib/bootstrap/dist/js/bootstrap.min.js"></script>
 
<script src="/lib/angular/angular.js"></script>

<script src="/lib/angular-resource/angular-resource.min.js"></script>
<script src="/lib/angular-ui-router/release/angular-ui-router.min.js"></script>
<script src="/lib/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>

<script src="/lib/api-check/dist/api-check.min.js"></script>
<script src="/lib/angular-formly/dist/formly.min.js"></script>
<script src="/lib/angular-formly-templates-bootstrap/dist/angular-formly-templates-bootstrap.min.js"></script>

<script src="/js/service/lb-services.js"></script>

<script src="/lib/codemirror/lib/codemirror.js"></script>
<script src="/lib/codemirror/addon/selection/active-line.js"></script>

<!--script src="/share.js"></script-->
<script src="/lib/share-codemirror/share-codemirror.js"></script>

<script src="/lib/termjs/term.js"></script>

<script src="/js/app.js"></script>
<script src="/js/service/auth-services.js"></script>

<script src="/js/controller/navbar.js"></script>
<script src="/js/controller/rec_new.js"></script>
<script src="/js/controller/rec_work.js"></script>
<script src="/js/controller/rec_close.js"></script>

<script src="/js/controller/nologin.js"></script>
<script src="/js/controller/main.js"></script>
<script src="/js/controller/signup.js"></script>
<script src="/js/controller/login.js"></script>

</body>
</html>
